<div class="row">
    <div class="col s12 m12 l2">
        <md-card>
            <md-card-header>
                <md-card-title>Pessoas</md-card-title>
                <md-card-subtitle>Subtitle</md-card-subtitle>
            </md-card-header>
            <img mdCardImage src="./images/people.png">
            <md-card-content>
                {{titles.people}}
            </md-card-content>
            <md-card-actions align="start|end">
                <button md-button >Visualizar</button>
            </md-card-actions>
        </md-card>
    </div>
    <div class="col s12 m12 l2"></div>
    <div class="col s12 m12 l2"></div>
</div>
