<a md-button class="white-text" routerLink="/" routerLinkActive="active">Home</a>
<a md-button class="white-text" [mdMenuTriggerFor]="componentsMenu">Exemplos</a>
<md-menu #componentsMenu="mdMenu">
    <a md-menu-item routerLink="/exemplos/marcacoes">Marcações</a>
    <a md-menu-item routerLink="/exemplos/entrada-dados">Entrada de dados</a>
    <a md-menu-item routerLink="/exemplos/formularios">Formulários</a>
    <a md-menu-item routerLink="/exemplos/injecao-dependencia">Injeção dependência</a>
</md-menu>
<a md-button class="white-text" routerLink="/lista-contatos" routerLinkActive="active">Lista de contatos</a>
<a md-button class="white-text" routerLink="/swapi" routerLinkActive="active">Star Wars API</a>
