<!-- <md-toolbar> -->
    <button md-button routerLink="/" routerLinkActive="active">Home</button>
    <button md-button [mdMenuTriggerFor]="componentsMenu">Exemplos</button>
    <md-menu #componentsMenu="mdMenu">
        <button md-menu-item routerLink="/marcacoes">Marcações</button>
        <!-- <button md-menu-item routerLink="/lista-pessoa-component">Listagem</button>
        <button md-menu-item routerLink="/interpolation">Interpolation</button>
        <button md-menu-item routerLink="/property-binding">Property binding</button>
        <button md-menu-item routerLink="/two-way-binding">Two way binding</button>
        <button md-menu-item routerLink="/ng-if-component">If component</button>
        <button md-menu-item routerLink="/ng-switch-component">Switch component</button>
        <button md-menu-item routerLink="/ng-for-component">For component</button>
        <button md-menu-item routerLink="/ng-class-component">Class component</button>
        <button md-menu-item routerLink="/ng-style-component">Style component</button>
        <button md-menu-item routerLink="/ng-content-component">Content component</button> -->
    </md-menu>
<!-- </md-toolbar> -->
