<md-toolbar>
    <a md-menu-item routerLink="./listagem">Listagem</a>
    <a md-menu-item routerLink="./interpolation">Interpolation</a>
    <a md-menu-item routerLink="./property">Property</a>
    <a md-menu-item routerLink="./two-way">Two way</a>
    <a md-menu-item routerLink="./if">If</a>
    <a md-menu-item routerLink="./switch">Switch</a>
    <a md-menu-item routerLink="./for">For</a>
    <a md-menu-item routerLink="./class">Class</a>
    <a md-menu-item routerLink="./style">Style</a>
    <a md-menu-item routerLink="./content">Content</a>
</md-toolbar>
<div>
    <router-outlet></router-outlet>
</div>
