<div class="row">
    <div class="col s12 m12 l12 as-title">
        <h2 class="flow-text">{{title}}</h2>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <app-dados-usuario></app-dados-usuario>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l6">
        <app-lista-usuario (idClicado)="enviarDetalhe($event)"></app-lista-usuario>
    </div>
    <div class="col s12 m12 l6">
        <app-detalhe-usuario [contato]="contatoclicado"></app-detalhe-usuario>
    </div>
</div>
