<div class="row">
    <div class="col s12 m12 l12 as-title">
        <h2 class="flow-text">{{title}}</h2>
    </div>
</div>
<div class="row">
    <md-toolbar>
        <a md-menu-item routerLink="./listagem">Listagem</a>
        <a md-menu-item routerLink="./interpolation">Interpolation</a>
        <a md-menu-item routerLink="./property">Property</a>
        <a md-menu-item routerLink="./two-way">Two way</a>
        <a md-menu-item routerLink="./if">If</a>
        <a md-menu-item routerLink="./switch">Switch</a>
        <a md-menu-item routerLink="./for">For</a>
        <a md-menu-item routerLink="./class">Class</a>
        <a md-menu-item routerLink="./style">Style</a>
        <a md-menu-item routerLink="./content">Content</a>
    </md-toolbar>
</div>
<div class="row">
    <router-outlet></router-outlet>
</div>
